{% extends 'jobs/base.html' %}
{% load staticfiles %}

{% block base_block %}

<style>
  #Blog {color: white;}
</style>

<main role="main">
  <div class="container">
    <h2>Latest posts:</h2>
    <hr>
    {% for article in blog.all %}
      <a href="{% url 'detail' article.id %}"><p style="font-size:1.5em"><b>{{ article.title }}</b></p></a>
      <p>{{ article.publication_date_better }}</p>
      <img style="width:10%" src="{{ article.image.url }}" alt="Ooops! Doesn't work(((">
      <p>{{ article.summary }}</p>
      <hr>
    {% endfor %}
  </div>
</main>

{% endblock %}
